{
  "Get-AzExpressRouteLagAuthorization+[NoContext]+List+$GET+https://management.azure.com/subscriptions/7d747eed-b44c-4257-8d43-df9ebd94546b/resourceGroups/expressroutelag-rg-zxelw8/providers/Microsoft.Network/expressRouteLags/lag-u27esy/authorizations?api-version=2025-09-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/7d747eed-b44c-4257-8d43-df9ebd94546b/resourceGroups/expressroutelag-rg-zxelw8/providers/Microsoft.Network/expressRouteLags/lag-u27esy/authorizations?api-version=2025-09-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "2" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-throttle-levels": [ "operationConcurrencyPct=0.3, etc" ],
        "x-ms-throttling-version": [ "v2" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "1099" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"name\":\"auth-c63trz\",\"id\":\"/subscriptions/7d747eed-b44c-4257-8d43-df9ebd94546b/resourceGroups/expressroutelag-rg-zxelw8/providers/Microsoft.Network/expressRouteLags/lag-u27esy/authorizations/auth-c63trz\",\"etag\":\"W/\\\"b5247a66-6f23-4f42-94d7-5ebf734f591b\\\"\",\"properties\":{\"provisioningState\":\"Succeeded\",\"authorizationUseStatus\":\"Available\"},\"type\":\"Microsoft.Network/expressRouteLags/authorizations\"},{\"name\":\"auth2-73s6tj\",\"id\":\"/subscriptions/7d747eed-b44c-4257-8d43-df9ebd94546b/resourceGroups/expressroutelag-rg-zxelw8/providers/Microsoft.Network/expressRouteLags/lag-u27esy/authorizations/auth2-73s6tj\",\"etag\":\"W/\\\"b5247a66-6f23-4f42-94d7-5ebf734f591b\\\"\",\"properties\":{\"provisioningState\":\"Succeeded\",\"authorizationUseStatus\":\"Available\"},\"type\":\"Microsoft.Network/expressRouteLags/authorizations\"}]}",
    }
  [...]
