{
  "Remove-AzExpressRouteLag+[NoContext]+Delete+$DELETE+https://management.azure.com/subscriptions/7d747eed-b44c-4257-8d43-df9ebd94546b/resourceGroups/expressroutelag-rg-hbiap4/providers/Microsoft.Network/expressRouteLags/lag-ulkajg?api-version=2025-09-01+1": {
    "Request": {
      "Method": "DELETE",
      "RequestUri": "https://management.azure.com/subscriptions/7d747eed-b44c-4257-8d43-df9ebd94546b/resourceGroups/expressroutelag-rg-hbiap4/providers/Microsoft.Network/expressRouteLags/lag-ulkajg?api-version=2025-09-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "13" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 204,
      "Headers": {
        "x-ms-throttling-version": [ "v2" ],
        "x-ms-ratelimit-remaining-subscription-deletes": [ "0" ]
      },
      "ContentHeaders": {
      },
      "Content": null,
    }
  },
  "Remove-AzExpressRouteLag+[NoContext]+Delete+$GET+https://management.azure.com/subscriptions/7d747eed-b44c-4257-8d43-df9ebd94546b/resourceGroups/expressroutelag-rg-hbiap4/providers/Microsoft.Network/expressRouteLags/lag-ulkajg?api-version=2025-09-01+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/7d747eed-b44c-4257-8d43-df9ebd94546b/resourceGroups/expressroutelag-rg-hbiap4/providers/Microsoft.Network/expressRouteLags/lag-ulkajg?api-version=2025-09-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "14" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 404,
      "Headers": {
        "x-ms-failure-cause": [ "gateway" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"error\":{\"code\":\"ResourceNotFound\",\"message\":\"The Resource \u0027Microsoft.Network/expressRouteLags/lag-ulkajg\u0027 under resource group \u0027expressroutelag-rg-hbiap4\u0027 was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"}}",
    }
  }
}